[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "enpls"]
	path = enpls
	url = https://github.com/nanxstats/enpls
	shallow = true
	registered = true
[submodule "grex"]
	path = grex
	url = https://github.com/nanxstats/grex
	shallow = true
	registered = true
[submodule "hdnom"]
	path = hdnom
	url = https://github.com/nanxstats/hdnom
	shallow = true
	registered = true
[submodule "liftr"]
	path = liftr
	url = https://github.com/nanxstats/liftr
	shallow = true
	registered = true
[submodule "msaenet"]
	path = msaenet
	url = https://github.com/nanxstats/msaenet
	shallow = true
	registered = true
[submodule "OHPL"]
	path = OHPL
	url = https://github.com/nanxstats/ohpl
	shallow = true
	registered = true
[submodule "oneclust"]
	path = oneclust
	url = https://github.com/nanxstats/oneclust
	shallow = true
	registered = true
[submodule "protr"]
	path = protr
	url = https://github.com/nanxstats/protr
	shallow = true
	registered = true
[submodule "RECA"]
	path = RECA
	url = https://github.com/nanxstats/reca
	shallow = true
	registered = true
