[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enpls"]
	path = enpls
	url = https://github.com/nanxstats/enpls
[submodule "ggsci"]
	path = ggsci
	url = https://github.com/nanxstats/ggsci
[submodule "grex"]
	path = grex
	url = https://github.com/nanxstats/grex
[submodule "hdnom"]
	path = hdnom
	url = https://github.com/nanxstats/hdnom
[submodule "liftr"]
	path = liftr
	url = https://github.com/nanxstats/liftr
[submodule "msaenet"]
	path = msaenet
	url = https://github.com/nanxstats/msaenet
[submodule "OHPL"]
	path = OHPL
	url = https://github.com/nanxstats/ohpl
[submodule "oneclust"]
	path = oneclust
	url = https://github.com/nanxstats/oneclust
[submodule "protr"]
	path = protr
	url = https://github.com/nanxstats/protr
[submodule "Rcpi"]
	path = Rcpi
	url = https://github.com/nanxstats/rcpi
[submodule "RECA"]
	path = RECA
	url = https://github.com/nanxstats/reca
