[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OHPL"]
	path = OHPL
	url = https://github.com/nanxstats/ohpl
[submodule "RECA"]
	path = RECA
	url = https://github.com/nanxstats/reca
[submodule "enpls"]
	path = enpls
	url = https://github.com/nanxstats/enpls
[submodule "ggsci"]
	path = ggsci
	url = https://github.com/nanxstats/ggsci
[submodule "grex"]
	path = grex
	url = https://github.com/nanxstats/grex
[submodule "gsDesignTune"]
	path = gsDesignTune
	url = https://github.com/nanxstats/gsdesigntune
[submodule "hdnom"]
	path = hdnom
	url = https://github.com/nanxstats/hdnom
[submodule "liftr"]
	path = liftr
	url = https://github.com/nanxstats/liftr
[submodule "msaenet"]
	path = msaenet
	url = https://github.com/nanxstats/msaenet
[submodule "oneclust"]
	path = oneclust
	url = https://github.com/nanxstats/oneclust
[submodule "pkgdown.offline"]
	path = pkgdown.offline
	url = https://github.com/nanxstats/pkgdown.offline
[submodule "protr"]
	path = protr
	url = https://github.com/nanxstats/protr
[submodule "ssw"]
	path = ssw
	url = https://github.com/nanxstats/ssw-r
[submodule "stackgbm"]
	path = stackgbm
	url = https://github.com/nanxstats/stackgbm
